XSD/A-arbeidsforhold/a-arbeidsforhold_v1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:nav:a-arbeidsforhold:v1_0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="urn:nav:a-arbeidsforhold:v1_0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
	<xsd:element name="melding" type="EDAG_M"/>
	<xsd:complexType name="EDAG_M">
		<xsd:sequence>
			<xsd:element name="Leveranse" type="Leveranse"/>
			<xsd:element ref="ds:Signature" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Leveranse">
		<xsd:sequence>
			<xsd:element name="kalendermaaned" type="AArOgMaaned"/>
			<xsd:element name="leveranseinformasjon" type="Leveranseinformasjon" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Inneholder en liste med referanser til de a-meldinger som danner grunnlaget for innholdet i denne leveransen.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="opplysningspliktig" type="Opplysningspliktig"/>
			<xsd:element name="oppgave" type="JuridiskEntitet"/>
			<xsd:element name="kilde" type="Kilde">
				<xsd:annotation>
					<xsd:documentation>Inneholder identifiserende informasjon for kilden til innholdet på dette nivå. I dette tilfellet oppsumeringsdokument for opplysningpliktig.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Opplysningspliktig">
		<xsd:sequence>
			<xsd:element name="norskIdentifikator" type="NorskIdentifikator"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="JuridiskEntitet">
		<xsd:sequence>
			<xsd:element name="virksomhet" type="Virksomhet" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Virksomhet">
		<xsd:sequence>
			<xsd:element name="norskIdentifikator" type="NorskIdentifikator"/>
			<xsd:element name="inntektsmottaker" type="Inntektsmottaker" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="avvik" type="Avvik" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Dette elementet inneholder eventuelle avvik oppdaget av kontroller som er utført på dette nivå av dokumentet</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Inntektsmottaker">
		<xsd:sequence>
			<xsd:element name="norskIdentifikator" type="NorskIdentifikator"/>
			<xsd:element name="arbeidsforhold" type="Arbeidsforhold" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="inntekt" type="Inntekt" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="avvik" type="Avvik" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Dette elementet inneholder eventuelle avvik oppdaget av kontroller som er utført på dette nivå av dokumentet</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="kilde" type="Kilde">
				<xsd:annotation>
					<xsd:documentation>Inneholder identifiserende informasjon for kilden til innholdet på dette nivå. I dette tilfellet oppsumeringsdokument for inntektsmottaker.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Landkode">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="Arbeidsforhold">
		<xsd:sequence>
			<xsd:element name="arbeidsforholdId" type="Tekst" minOccurs="0"/>
			<xsd:element name="typeArbeidsforhold" type="Arbeidsforholdstype"/>
			<xsd:element name="startdato" type="Dato" minOccurs="0"/>
			<xsd:element name="sluttdato" type="Dato" minOccurs="0"/>
			<xsd:element name="antallTimerPerUkeSomEnFullStillingTilsvarer" type="Desimaltall" minOccurs="0"/>
			<xsd:element name="avloenningstype" type="Avloenningstype" minOccurs="0"/>
			<xsd:element name="yrke" type="Yrke" minOccurs="0"/>
			<xsd:element name="arbeidstidsordning" type="Arbeidstidsordning" minOccurs="0"/>
			<xsd:element name="stillingsprosent" type="Desimaltall" minOccurs="0"/>
			<xsd:element name="sisteLoennsendringsdato" type="Dato" minOccurs="0"/>
			<xsd:element name="fartoey" type="Fartoey" minOccurs="0"/>
			<xsd:element name="permisjon" type="Permisjon" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="avvik" type="Avvik" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Dette elementet inneholder eventuelle avvik oppdaget av kontroller som er utført på dette nivå av dokumentet</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Arbeidsforholdstype">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="Avloenningstype">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="Yrke">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="Arbeidstidsordning">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="Fartoey">
		<xsd:sequence>
			<xsd:element name="skipsregister" type="Skipsregister"/>
			<xsd:element name="skipstype" type="Skipstype"/>
			<xsd:element name="fartsomraade" type="Fartsomraade"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Skipsregister">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="Skipstype">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="Fartsomraade">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="Permisjon">
		<xsd:sequence>
			<xsd:element name="startdato" type="Dato"/>
			<xsd:element name="sluttdato" type="Dato" minOccurs="0"/>
			<xsd:element name="permisjonsprosent" type="Desimaltall"/>
			<xsd:element name="permisjonId" type="Tekst"/>
			<xsd:element name="avvik" type="Avvik" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Dette elementet inneholder eventuelle avvik oppdaget av kontroller som er utført på dette nivå av dokumentet</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Inntekt">
		<xsd:sequence>
			<xsd:element name="startdatoOpptjeningsperiode" type="Dato" minOccurs="0"/>
			<xsd:element name="sluttdatoOpptjeningsperiode" type="Dato" minOccurs="0"/>
			<xsd:element name="arbeidsforholdId" type="Tekst" minOccurs="0"/>
			<xsd:element name="loennsinntekt" type="Loennsinntekt" minOccurs="0"/>
			<xsd:element name="avvik" type="Avvik" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Dette elementet inneholder eventuelle avvik oppdaget av kontroller som er utført på dette nivå av dokumentet</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="SkatteOgAvgiftsregel">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="Fordel">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="Loennsinntekt">
		<xsd:sequence>
			<xsd:element name="beskrivelse" type="Loennsbeskrivelse"/>
			<xsd:element name="spesifikasjon" type="Spesifikasjon" minOccurs="0"/>
			<xsd:element name="antall" type="Desimaltall" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Loennsbeskrivelse">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="Tilleggsinformasjon">
		<xsd:choice>
			<xsd:element name="aksjerTilUnderkurs" type="AksjerTilUnderkurs" minOccurs="0"/>
			<xsd:element name="arbeidForVeldedigOrganisasjon" type="ArbeidForVeldedigOrganisasjon" minOccurs="0"/>
			<xsd:element name="arbeidHosOppdragsgiver" type="ArbeidIOppdragsgiversHjem" minOccurs="0"/>
			<xsd:element name="barnehageplassOgTilskudd" type="BarnehageplassOgTilskudd" minOccurs="0"/>
			<xsd:element name="barnepensjonOgUnderholdsbidrag" type="BarnepensjonOgUnderholdsbidrag" minOccurs="0"/>
			<xsd:element name="bilOgBaat" type="BilOgBaat" minOccurs="0"/>
			<xsd:element name="bonus" type="Bonus" minOccurs="0"/>
			<xsd:element name="dagmammaIEgenBolig" type="DagmammaIEgenBolig" minOccurs="0"/>
			<xsd:element name="elektroniskKommunikasjon" type="ElektroniskKommunikasjon" minOccurs="0"/>
			<xsd:element name="etterbetalingsperiode" type="Periode" minOccurs="0"/>
			<xsd:element name="fondForIdrettsutoevere" type="FondForIdrettsutoevere" minOccurs="0"/>
			<xsd:element name="godtgjoerelse" type="Godtgjoerelse" minOccurs="0"/>
			<xsd:element name="inntektPaaNorskKontinentalsokkel" type="NorskKontinentalsokkel" minOccurs="0"/>
			<xsd:element name="inntjeningsforhold" type="SpesielleInntjeningsforhold" minOccurs="0"/>
			<xsd:element name="livrente" type="Livrente" minOccurs="0"/>
			<xsd:element name="lottOgPart" type="LottOgPartInnenFiske" minOccurs="0"/>
			<xsd:element name="naturalytelse" type="Naturalytelse" minOccurs="0"/>
			<xsd:element name="nettoloenn" type="Nettoloennsordning" minOccurs="0"/>
			<xsd:element name="opsjon" type="Opsjon" minOccurs="0"/>
			<xsd:element name="pensjon" type="AldersUfoereEtterlatteAvtalefestetOgKrigspensjon" minOccurs="0"/>
			<xsd:element name="reiseKostOgLosji" type="ReiseKostOgLosji" minOccurs="0"/>
			<xsd:element name="svalbardinntekt" type="Svalbardinntekt" minOccurs="0"/>
			<xsd:element name="utenlandskArtist" type="UtenlandskArtist" minOccurs="0"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="AksjerTilUnderkurs">
		<xsd:sequence>
			<xsd:element name="antall" type="Heltall"/>
			<xsd:element name="verdiPaaErvervstidspunktet" type="Beloep"/>
			<xsd:element name="kjoepesum" type="Beloep"/>
			<xsd:element name="ervervstidspunkt" type="Dato"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ArbeidForVeldedigOrganisasjon">
		<xsd:sequence>
			<xsd:element name="arbeidsart" type="VeldedigArbeid"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="VeldedigArbeid">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="ArbeidIOppdragsgiversHjem">
		<xsd:sequence>
			<xsd:element name="arbeidsart" type="ArbeidIHjem"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ArbeidIHjem">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="BarnehageplassOgTilskudd">
		<xsd:sequence>
			<xsd:element name="antallBarn" type="Heltall"/>
			<xsd:element name="antallMaaneder" type="Heltall"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BarnepensjonOgUnderholdsbidrag">
		<xsd:sequence>
			<xsd:element name="forsoergersFoedselsnummer" type="Foedselsnummer" minOccurs="0"/>
			<xsd:element name="tidsrom" type="Periode" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Periode">
		<xsd:sequence>
			<xsd:element name="startdato" type="Dato"/>
			<xsd:element name="sluttdato" type="Dato"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BilOgBaat">
		<xsd:sequence>
			<xsd:element name="antallKilometer" type="Desimaltall" minOccurs="0"/>
			<xsd:element name="antallReiser" type="Heltall" minOccurs="0"/>
			<xsd:element name="heravAntallKilometerMellomHjemOgArbeid" type="Desimaltall" minOccurs="0"/>
			<xsd:element name="listeprisForBil" type="Beloep" minOccurs="0"/>
			<xsd:element name="bilregistreringsnummer" type="Tekst" minOccurs="0"/>
			<xsd:element name="erElBil" type="Boolsk" minOccurs="0"/>
			<xsd:element name="erBilpool" type="Boolsk" minOccurs="0"/>
			<xsd:element name="erAnnenBil" type="Boolsk" minOccurs="0"/>
			<xsd:element name="erBilUtenforStandardregelen" type="Boolsk" minOccurs="0"/>
			<xsd:element name="personklassifiseringAvBilbruker" type="PersontypeForReiseKostLosji" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="PersontypeForReiseKostLosji">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="Bonus">
		<xsd:sequence>
			<xsd:element name="erBonusVedAAremaalstilsettingIForsvaret" type="Boolsk"/>
			<xsd:element name="aarstallUtbetalingenGjelder" type="AArstall"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DagmammaIEgenBolig">
		<xsd:sequence>
			<xsd:element name="antallBarn" type="Heltall"/>
			<xsd:element name="antallMaaneder" type="Heltall"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ElektroniskKommunikasjon">
		<xsd:sequence>
			<xsd:element name="beloepDekketAvArbeidsgiver" type="Beloep" minOccurs="0"/>
			<xsd:element name="beloepDekketAvArbeidstaker" type="Beloep" minOccurs="0"/>
			<xsd:element name="antallAbonnement" type="Heltall" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FondForIdrettsutoevere">
		<xsd:sequence>
			<xsd:element name="erInnbetaling" type="Boolsk"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Godtgjoerelse">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="NorskKontinentalsokkel">
		<xsd:sequence>
			<xsd:element name="tidsrom" type="Periode" minOccurs="0"/>
			<xsd:element name="loennFoerste60Dager" type="Beloep" minOccurs="0"/>
			<xsd:element name="antallDagerMedLoennetFriperiode" type="Heltall" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="SpesielleInntjeningsforhold">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="Livrente">
		<xsd:sequence>
			<xsd:element name="totaltUtbetaltBeloep" type="Beloep"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LottOgPartInnenFiske">
		<xsd:sequence>
			<xsd:element name="antallDager" type="Heltall" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Naturalytelse">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="Nettoloennsordning">
		<xsd:sequence>
			<xsd:element name="oppgrossingstabellnummer" type="Heltall" minOccurs="0"/>
			<xsd:element name="bilinformasjon" type="BilOgBaat" minOccurs="0"/>
			<xsd:element name="betaltSkattebeloepIUtlandet" type="Beloep" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Opsjon">
		<xsd:sequence>
			<xsd:element name="antallOpsjonsobjekter" type="Heltall" minOccurs="0"/>
			<xsd:element name="totalInnloesningspris" type="Beloep" minOccurs="0"/>
			<xsd:element name="foersteInnloesningsaar" type="AArstall" minOccurs="0"/>
			<xsd:element name="sisteInnloesningsaar" type="AArstall" minOccurs="0"/>
			<xsd:element name="opsjonspremiebeloep" type="Beloep" minOccurs="0"/>
			<xsd:element name="formuesverdi" type="Beloep" minOccurs="0"/>
			<xsd:element name="tildelingsaar" type="AArstall" minOccurs="0"/>
			<xsd:element name="erTildeling" type="Boolsk" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AldersUfoereEtterlatteAvtalefestetOgKrigspensjon">
		<xsd:sequence>
			<xsd:element name="grunnpensjonsbeloep" type="Beloep" minOccurs="0"/>
			<xsd:element name="tilleggspensjonsbeloep" type="Beloep" minOccurs="0"/>
			<xsd:element name="ufoeregrad" type="Heltall" minOccurs="0"/>
			<xsd:element name="pensjonsgrad" type="Heltall" minOccurs="0"/>
			<xsd:element name="heravEtterlattepensjon" type="Beloep" minOccurs="0"/>
			<xsd:element name="tidsrom" type="Periode" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReiseKostOgLosji">
		<xsd:sequence>
			<xsd:element name="boligtype" type="Boligtype" minOccurs="0"/>
			<xsd:element name="persontype" type="PersontypeForReiseKostLosji" minOccurs="0"/>
			<xsd:element name="antallReiser" type="Heltall" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Boligtype">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="Svalbardinntekt">
		<xsd:sequence>
			<xsd:element name="antallDager" type="Heltall"/>
			<xsd:element name="betaltTrygdeavgift" type="Beloep" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UtenlandskArtist">
		<xsd:sequence>
			<xsd:element name="inntektsaar" type="AArstall"/>
			<xsd:element name="oppgrossingsgrunnlag" type="Beloep"/>
			<xsd:element name="trukketArtistskatt" type="BeloepSomHeltall"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Spesifikasjon">
		<xsd:sequence>
			<xsd:element name="opptjeningsland" type="Landkode" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="YtelseFraOffentlige">
		<xsd:sequence>
			<xsd:element name="beskrivelse" type="YtelseFraOffentligeBeskrivelse"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="YtelseFraOffentligeBeskrivelse">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="PensjonEllerTrygd">
		<xsd:sequence>
			<xsd:element name="beskrivelse" type="PensjonEllerTrygdebeskrivelse"/>
			<xsd:element name="tilleggsinformasjon" type="Tilleggsinformasjon" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="PensjonEllerTrygdebeskrivelse">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="Naeringsinntekt">
		<xsd:sequence>
			<xsd:element name="beskrivelse" type="Naeringsinntektsbeskrivelse"/>
			<xsd:element name="tilleggsinformasjon" type="Tilleggsinformasjon" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Naeringsinntektsbeskrivelse">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="SjoefolksrelatertInformasjon">
		<xsd:sequence>
			<xsd:element name="antallDoegnOmbord" type="Heltall" minOccurs="0"/>
			<xsd:element name="antallDoegnOmbordUtenDekkedeSmaautgifter" type="Heltall" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Arbeidsgiveravgift">
		<xsd:sequence>
			<xsd:element name="loennOgGodtgjoerelse" type="Arbeidsgiveravgiftsgrunnlag" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="tilskuddOgPremieTilPensjon" type="Arbeidsgiveravgiftsgrunnlag" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="utenlandskeMedSaerskiltProsentsats" type="UtenlandskeMedSaerskiltProsentsats" minOccurs="0"/>
			<xsd:element name="utenlandskeMedFastAvgiftsbeloep" type="UtenlandskeMedFastAvgiftsbeloep" minOccurs="0"/>
			<xsd:element name="fradragIGrunnlagetForSone" type="FradragIGrunnlaget" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="fradragIGrunnlagetForUtenlandsk" type="FradragIGrunnlagetForUtenlandsk" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Arbeidsgiveravgiftsgrunnlag">
		<xsd:sequence>
			<xsd:element name="beregningskodeForArbeidsgiveravgift" type="BeregningskodeForArbeidsgiveravgift"/>
			<xsd:element name="sone" type="Arbeidsgiveravgiftsone"/>
			<xsd:element name="avgiftsgrunnlagBeloep" type="Beloep"/>
			<xsd:element name="prosentsatsForAvgiftsberegning" type="Desimaltall"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="BeregningskodeForArbeidsgiveravgift">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="Arbeidsgiveravgiftsone">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="UtenlandskeMedSaerskiltProsentsats">
		<xsd:sequence>
			<xsd:element name="avgiftsgrunnlagBeloep" type="Beloep"/>
			<xsd:element name="prosentsatsForAvgiftsberegning" type="Desimaltall"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UtenlandskeMedFastAvgiftsbeloep">
		<xsd:sequence>
			<xsd:element name="antallAvgiftsgrunnlagPersoner" type="Heltall"/>
			<xsd:element name="beloepssatsForAvgiftsberegning" type="Beloep"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FradragIGrunnlaget">
		<xsd:sequence>
			<xsd:element name="beregningskodeForArbeidsgiveravgift" type="BeregningskodeForArbeidsgiveravgift"/>
			<xsd:element name="sone" type="Arbeidsgiveravgiftsone"/>
			<xsd:element name="avgiftsfradragBeloep" type="Beloep"/>
			<xsd:element name="prosentsatsForAvgiftsberegning" type="Desimaltall"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FradragIGrunnlagetForUtenlandsk">
		<xsd:sequence>
			<xsd:element name="avgiftsfradragBeloep" type="Beloep"/>
			<xsd:element name="prosentsatsForAvgiftsberegning" type="Desimaltall"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="DatoTid">
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="AArOgMaaned">
		<xsd:restriction base="xsd:gYearMonth"/>
	</xsd:simpleType>
	<xsd:simpleType name="Tekst">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="NorskIdentifikator">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="BeloepSomHeltall">
		<xsd:restriction base="xsd:integer"/>
	</xsd:simpleType>
	<xsd:simpleType name="Beloep">
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="Postnummer">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="Dato">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="Desimaltall">
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="Boolsk">
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="Heltall">
		<xsd:restriction base="xsd:integer"/>
	</xsd:simpleType>
	<xsd:simpleType name="Foedselsnummer">
		<xsd:restriction base="RestriksjonFoedselsnummer"/>
	</xsd:simpleType>
	<xsd:simpleType name="RestriksjonFoedselsnummer">
		<xsd:restriction base="xsd:token">
			<xsd:length value="11"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AArstall">
		<xsd:restriction base="xsd:gYear"/>
	</xsd:simpleType>
	<xsd:simpleType name="Spraak">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="bokmaal"/>
			<xsd:enumeration value="nynorsk"/>
			<xsd:enumeration value="engelsk"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Avvik">
		<xsd:sequence>
			<xsd:element name="id" type="Tekst">
				<xsd:annotation>
					<xsd:documentation>Id som unikt identifiserer kontrollen som er utført</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="navn" type="Tekst">
				<xsd:annotation>
					<xsd:documentation>Beskrivende navn på kontrollen</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="alvorlighetsgrad" type="Alvorlighetsgrad">
				<xsd:annotation>
					<xsd:documentation>Forteller i hvilken grad kontrollen avstedkommer sanksjoner</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="detaljer" type="Tekst" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Detaljer om kontrollen som er utført og årsak til avvik</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Alvorlighetsgrad">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Oeyeblikkelig"/>
			<xsd:enumeration value="Retningslinje"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Leveranseinformasjon">
		<xsd:sequence>
			<xsd:element name="altinnreferanse" type="Tekst">
				<xsd:annotation>
					<xsd:documentation>Id tildelt av Altinn ved innlevering av melding. Globalt unik</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="innleveringstidspunkt" type="DatoTid">
				<xsd:annotation>
					<xsd:documentation>Tispunkt for når aktuell melding ble innlevertlevert til altInn </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="meldingsId" type="Tekst">
				<xsd:annotation>
					<xsd:documentation>En id gitt av opplysningspliktig. Utgjør sammen med kildesystem en unik referanse mot opplysningspliktige systemer.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="kildesystem" type="Tekst">
				<xsd:annotation>
					<xsd:documentation>En id gitt av opplysningspliktig. Utgjør sammen med meldingsId en unik referanse mot opplysningspliktige systemer.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Kilde">
		<xsd:annotation>
			<xsd:documentation>Beskriver kilden til informasjon på et gitt nivå</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="kildereferanse" type="Tekst">
				<xsd:annotation>
					<xsd:documentation>Inneholder en unik id som identifiserer dokumentet eller kilden til innholdet på dette nivå.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="kildenavn" type="Tekst">
				<xsd:annotation>
					<xsd:documentation>Inneholder navnet til dokumentet som danner grunnlaget for innholdet på dette nivå. Legg merke til at et navngitt dokument kan ha flere versjoner.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="kildeversjon" type="Heltall">
				<xsd:annotation>
					<xsd:documentation>Inneholder versjonsnummer til dokumentetet som danner grunnlag for denne leveransen. Høyeste versjon et dokument  representerer den sist oppdaterte informasjonen. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
